<!-- Store this code in 'register.html' file inside the 'templates' folder -->
  
<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">              
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Username" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Password" class="textbox"/></br></br>
<input id="first_name" name="first_name" type="text" placeholder="First Name" class="textbox"/></br></br>
<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Enter Email ID" class="textbox"/></br></br>
                    <input id="email" name="role" type="text" placeholder="Role as Doner or Staff" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
          </div>
        </div>
    </body>
</html>